Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer:
- **Database**: A database is an organized collection of data, typically stored and accessed electronically from a computer system. It is designed to efficiently manage, store, and retrieve data according to specific requirements.
- **SQL Databases (Relational Databases)**: SQL (Structured Query Language) databases are relational databases that store data in tables and use SQL for querying and manipulating data. They have a predefined schema and support ACID (Atomicity, Consistency, Isolation, Durability) transactions. Examples include MySQL, PostgreSQL, SQLite, Oracle.
- **NoSQL Databases (Non-relational Databases)**: NoSQL databases are non-relational databases that store data in various formats like key-value pairs, documents, graphs, etc. They are schema-less and provide high scalability and flexibility. NoSQL databases are suitable for handling large volumes of unstructured or semi-structured data. Examples include MongoDB, Cassandra, Redis, Couchbase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer:
- **DDL (Data Definition Language)**: DDL is a subset of SQL used for defining and managing the structure of database objects like tables, indexes, views, etc.
- **Examples**:
  - `CREATE`: Used to create new database objects like tables, indexes, views, etc.
    ```sql
    CREATE TABLE employees (
        id INT PRIMARY KEY,
        name VARCHAR(100),
        salary DECIMAL(10, 2)
    );
    ```
  - `DROP`: Used to delete existing database objects like tables, indexes, views, etc.
    ```sql
    DROP TABLE employees;
    ```
  - `ALTER`: Used to modify the structure of existing database objects.
    ```sql
    ALTER TABLE employees ADD COLUMN department VARCHAR(100);
    ```
  - `TRUNCATE`: Used to remove all records from a table, but the table structure, constraints, indexes remain intact.
    ```sql
    TRUNCATE TABLE employees;
    ```

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer:
- **DML (Data Manipulation Language)**: DML is a subset of SQL used for manipulating data within database objects like tables.
- **Examples**:
  - `INSERT`: Used to insert new records into a table.
    ```sql
    INSERT INTO employees (id, name, salary) VALUES (1, 'John Doe', 50000);
    ```
  - `UPDATE`: Used to modify existing records in a table.
    ```sql
    UPDATE employees SET salary = 55000 WHERE id = 1;
    ```
  - `DELETE`: Used to delete existing records from a table.
    ```sql
    DELETE FROM employees WHERE id = 1;
    ```

Q4. What is DQL? Explain SELECT with an example.

Answer:
- **DQL (Data Query Language)**: DQL is a subset of SQL used for querying data from database objects like tables.
- **Example**:
  - `SELECT`: Used to retrieve data from one or more tables.
    ```sql
    SELECT * FROM employees WHERE department = 'IT';
    ```

Q5. Explain Primary Key and Foreign Key.

Answer:
- **Primary Key**: A primary key is a column or a set of columns that uniquely identifies each record in a table. It ensures that each row in a table is uniquely identifiable. Primary keys must have unique values and cannot contain NULL values.
- **Foreign Key**: A foreign key is a column or a set of columns in a table that establishes a link between data in two tables. It creates a relationship between two tables by referencing the primary key of another table. Foreign keys enforce referential integrity between related tables, ensuring that the values in the foreign key column exist in the referenced table's primary key column.

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

```python
import mysql.connector

# Establish connection to MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

# Create cursor object
cursor = connection.cursor()

# Execute SQL query
cursor.execute("SELECT * FROM table_name")

# Fetch results
results = cursor.fetchall()

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()
connection.close()
```

- **cursor() method**: The `cursor()` method creates a cursor object that allows Python code to interact with the MySQL database. It enables execution of SQL queries and retrieval of results.
- **execute() method**: The `execute()` method of the cursor object is used to execute SQL queries. It takes the SQL query as an argument and executes it on the connected MySQL database. After executing the query, the results can be fetched using methods like `fetchone()`, `fetchall()`, etc.

Q7. Give the order of execution of SQL clauses in an SQL query.

Answer:
In an SQL query, the clauses are typically executed in the following order:
1. `SELECT`
2. `FROM`
3. `WHERE`
4. `GROUP BY`
5. `HAVING`
6. `ORDER BY`
7. `LIMIT` (if used)